.heroSection {
  position: relative;
  height: 50vh;
  width: 100%;
  overflow: hidden;
}

.heroImage {
  width: 100%;
  height: 100%;
  object-fit: cover;
}

.heroText {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  text-align: center;
  color: white;
  text-shadow: 2px 2px 4px rgba(0, 0, 0, 0.5);
}

.heroText h1 {
  font-size: 3rem;
  margin-bottom: 1rem;
}

.heroText p {
  font-size: 1.5rem;
}

.heroLink {
  color: #faad1ff3;
  text-decoration: none;
  font-weight: bold;
}

.heroLink:hover {
  color: rgb(213, 118, 3);
  text-decoration: underline;
}

.SearchBar input {
    border-radius: 20px;
    color: #242a3d;
    padding-left: 40px;
    margin-bottom: 16px;
  }
  
  .SearchIcon {
    position: absolute;
    font-size: 1.2rem;
    padding: 9px;
    padding-left: 15px;
  }
  
  .SearchIcon:hover {
    cursor: default;
    color: #cfced3;
  }